html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    /*padding: 0px;*/
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
}

#map-canvas {
    height: 100%;
}

#legend {
    position: absolute;
    z-index: 99;
    left: 35%;
    top: 90%;
    background: white;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 4px 4px 4px 4px;
}

.menu {
    position: absolute;
    z-index: 99;

    width: 25%;
    top: 2%;
    left: 1%;
}

#fullextent{
    position: absolute;
    z-index: 99;
    bottom: 3%;
    right: 1%;
}

#backup{
    position: absolute;
    z-index: 99;
    bottom: 10%;
    right: 1%;
}

#loadXML{
    position: absolute;
    z-index: 99;
    bottom: 17%;
    right: 1%;
}